*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: white;
}

body{
  font-family: sans-serif;
}

.navbar{
  background-color: #212529;
  color: white;
  padding: 25px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.cart{
  background-color: white;
  color: #212529;
  padding: 5px;
  font-size: 30px;
  border-radius: 8px;
  position: relative;
}

.cart-amount{
  position: absolute;
  background-color: red;
  padding: 3px;
  color: white;
  top: -15px;
  right: -10px;
  font-size: 16px;
  border-radius: 4px;
}

.shop{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin: 0 100px;
}

@media (max-width: 1000px){
  .shop{
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 550px){
  .shop{
    grid-template-columns: repeat(1, 1fr);
    margin: 0 85px;
  }
}

@media (max-width: 400px){
  .shop{
    margin: 0 30px;
  }
}

@media (max-width: 200px){
  .shop{
    margin: 0 20px;
  }
}

.item{
  border: 1px solid black;
  border-radius: 4px;
}

.item img{
  width: 100%;
}

.details{
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}

.price-quantity{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.buttons{
  display: flex;
  gap: 5px;
  font-size: 16px;
}

.bi-dash-lg{
  color: red;
}

.bi-plus-lg{
  color: green;
}

.text-center{
  text-align: center;
  margin-bottom: 20px;
}

.home-btn {
  background-color: #212529;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: transform 0.1s ease, box-shadow 0.1s ease;
}

/* Normal hover shadow */
.home-btn:hover {
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

/* Pressed inward effect */
.home-btn:active {
  transform: translateY(2px);          /* move button down */
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.4); /* inner shadow */
}

.shopping-cart{
  display: grid;
  grid-template-columns: repeat(1, 330px);
  gap: 20px;
  justify-content: center;
}

.cart-item{
  border: 1px solid black;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}


.title-price-x{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.title-price{
  display: flex;
  align-items: center;
  gap: 10px;
}

.title-price .price{
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 10px;
}

.billing-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.billing-details h2{
  font-size: 25px;
  margin-bottom: 10px;
}

.billing-details button{
  padding: 8px 10px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.checkout{
  background-color: green;
  color: white;
  font-size: 18px;
  border: none;
}

.clear-cart{
  background-color: red;
  color: white;
  font-size: 18px;
  border: none;
}