*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to left bottom,lightgreen, lightblue);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.container{
  background: rgba(255,255,255,0.3);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.heading{
  font-size: 25px;
  padding-bottom: 15px;
}

input{
  padding: 10px 20px;
  margin-bottom: 10px;
  outline: none;
  font-size: 18px;
  background: rgba(255,255,255,0.4);
  border-color: rgba(255,255,255,0.4);
}

.btn{
  background-color: lightgreen;
  border: none;
  font-size: 16px;
  padding: 15px;
  width: 150px;
  margin: 10px auto 10px;
  font-weight: bold;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  cursor: pointer;
}

.btn:hover{
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.btn:active {
  transform: translateY(-2px); 
  box-shadow: 0 0 1px #888;
}

.info-text{
  font-size: larger;
  font-weight: 450;
  margin: 10px 0;
}